@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'GongGothicMedium',sans-serif;
}
html {
	font-size: 10px;
	font-family: 'GongGothicMedium', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #000000;
}


.cta {
	font-size: 17px;
	display: inline-block;
	border-radius: 50px !important;
	padding: 10px 30px;
	color: #ffe1e1;
	background-color: #d3480c;
	text-align: center;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	background-color: #d75a25;
	color: #ffffff;
}
.brand {
	position: relative;
	padding-left: 30px;
}
.brand span {
	position: absolute;
	font-weight: 500;
	left: 80px;
	top: 10px;
	font-size: 22px;

	letter-spacing: 0.1rem;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 2px 2px 4px gray; 
}
.brand img {
	position: static;
	width: 40px;
	padding: 0px 0px;
}

.explore_btn {
	display: block;
	position: relative;
	width: 150px;
	bottom: -20em;
}
/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content:space-between;
	width: 100%;
	height: 100px;
	max-width: 1430px;
	padding: 0px;
}


#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #f3682d;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
	
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
	padding-top: 5px;
	padding-bottom: 20px;
}

#header .nav-list ul a {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;

	letter-spacing: 0.2rem;
	text-decoration: none;
	color: #ffffff;
	text-shadow: 2px 2px 4px gray; 

	padding: 30px;
	display: block;
}

#header .nav-list ul a.active{

	color: #000000;
	
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(#d3480c,0.02);
	font-size: 18px;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	/* transform: translate(-50%, -50%) scale(1); */
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #1a0800;
	/* animation: ; */
}


/*switch button*/

.switch-button-lan {
	background: rgba(255, 255, 255, 0.56);
	border-radius: 30px;
	width: 200px;
	height: 45px;
	top: 0px;
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
	color: #ffffff;
	padding-right: 90px;
	position: relative;
}

	.switch-button-lan:before {
	  content: "English";
	color: #828282;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  width:105px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  z-index: 9;
	  pointer-events: none;
	}


	.switch-button-checkbox {
	  cursor: pointer;
	  position: absolute;
	  background-color: #FE6421;
	  top: 10;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 100%;
	  opacity: 0;
	  z-index: 2;
	}

	.switch-button-checkbox:checked + .switch-button-label:before{
		transform: translateX(90px);
		transition: transform 300ms linear;
	}
  
	.switch-button-checkbox + .switch-button-label {
		position: relative;
		padding: 15px 0px;
		display: block;
		user-select: none;
		pointer-events: none;
	}
	.switch-button-label:before {
		  content: "";
		  background: #FE6421;
		  height: 78%;
		  width: 100px;
		  position: absolute;
		  right: 4px;
		  top: 4px;
		  
		  border-radius: 30px;
		  transform: translateX(0);
		  transition: transform 300ms;
		  z-index: 0;
	}
  
	.switch-button-label-span {
		  position: relative;
	}

    

/* The switch - the box around the slider */
/* .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */

 .switch-button {
	bottom: 13px;
	position: relative;
	margin-left: 130px;
	margin-right: 20px;
	width: 160px;
	height: 44px;
 }

 .switch {
	width: 100%;
	height: 100%;
 }

  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(240, 248, 255, 0.5);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 38px;
	width: 75px;
	left: 5px;
	bottom: 2px;
	background-color: #FE6421;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: rgba(240, 248, 255, 0.5);
}
  
  input:focus + .slider {
	box-shadow: 0 0 1px #B7B7B7;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(75px);
	-ms-transform: translateX(75px);
	transform: translateX(75px);
  }

   */


  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 34px;
  }



#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #ffffff;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 60px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #ffffff;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color:#ffffff;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #ffffff;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* main Section */
#main {
	width: 100%;
	background-image:url("https://i.ibb.co/TRH3FTs/bbb-1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	z-index: 1;
}

@keyframes floatBubble{
	0% {
		   top:0;
		   -webkit-animation-timing-function: ease-in;
   
	  }
   
	  100% {
		 top: 500px;
		 animation-timing-function: ease-out;
	  }
   
   }

#main {
	overflow: hidden;
}

#main::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#main .main {
	width: 100%;
	max-height: 850px;
	margin: 0 8em;
	justify-content: flex-start;
}


#main h1 {

	display: block;
	font-size: 7em;
	position: relative;
	color: #ffffff;
	animation: text_reveal 0.5s ease forwards;
	/* animation-delay: 1s; */
}
#main h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	
	position: relative;
	color: #ffffff;
	/* animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;  */
}
#main .main_con:nth-child(1) {
	/* animation-delay: 1s; */
}
#main .main_con:nth-child(2) {
	/* animation-delay: 2s; */
}
#main .main_con:nth-child(3) {
	/* animation: text_reveal_name 0.5s ease forwards; */
	/* animation-delay: 3s; */
}
#main .iphone {
	display: flex;
}

#main .iphone1 {
	position: relative;
	width: 450px;
	height: 90%;
	top: 5em;
	-webkit-animation:myfirst 3s ; /* Chrome, Safari, Opera */
    animation:myfirst 3s;
}

#main .iphone2 {
	position: relative;
	width: 450px;
	height: 100%;
	bottom: -5px;
	left: -80px;
	-webkit-animation:mysecond 3s ; /* Chrome, Safari, Opera */
    animation:mysecond 3s;    
	object-fit: cover;
}
#main .iphone3 {
	position: relative;
	width: 450px;
	height: 100%;
	left: -80px;
	top: 0px;
	-webkit-animation:mysthird 3s ; /* Chrome, Safari, Opera */
    animation:mythird 3s;
}

    /* Chrome, Safari, Opera */
    @-webkit-keyframes myfirst
    {
    0%   { left:0px; top:300px; opacity: 0;}

    100% {left:0px; top:5em; opacity: 1;}
    }
    
	@-webkit-keyframes mysecond
	{
		0%   { left:-80px; bottom: -300px; opacity: 0;}
	
		100% {left:-80px; bottom: -5px; opacity: 1;}
	}
		
	
	@-webkit-keyframes mythird
    {
		0%   { left:-80px; top: -300px; opacity: 0;}
	
		100% {left:-80px; top: 0px;opacity: 1;}
		}       
    /* Standard syntax
    @keyframes myfirst
    {
    0%   { left:0px; top:0px;transform:rotate(0deg)}
    50%  {left:100%; margin-left:-100px;transform:rotate(360deg)}
    100% {left:0px; top:0px;transform:rotate(0deg)}
    } */


.lineUp {
	animation: 2s anim-lineUp ease-out ;
  }
  @keyframes anim-lineUp {
	0% {
	  opacity: 0;
	  transform: translateY(80%);
	}
	20% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	  transform: translateY(0%);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
}

#main .main_con span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	display: block;
  	animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
#main .main_con:nth-child(1) span {
	animation-delay: 0.5s;
}
#main .main_con:nth-child(2) span {
	animation-delay: 1.5s;
}
#main .main_con:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End main Section */

/* Sm Section */


#sm {
	display: flex;
	overflow: hidden;
}

#sm::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#sm {
	display: flex;
	height: 100%;
	width: 100%;
	background-image:url("https://i.ibb.co/x5VVDFp/1.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left bottom;
	position: relative;
	z-index: 1;
}


.carousel-container {
 position: relative;
  width: 700px;
  height: 100%;
  overflow: hidden;
  bottom: 0px;
  margin: 0;
  /* padding: 10px 10px; */
}

.carousel {
  display: flex;
  width: 300%;
  height: 1000px;
  bottom: 0;
  margin-left: 0px;
  animation: sliding 13s infinite;
}

.carousel div {
	position: relative;
    width:720px;
	height: 80%;
	margin-top:0px;
    background-size:1150px 100%;
	background-position: bottom left;
}
.carousel div:hover{
    animation-play-state: paused;
}
  .image-one {
    background-image: url("https://i.ibb.co/09njBFX/1.png");
  }
  .image-two {
    background-image: url("https://i.ibb.co/c8zD3gV/2.png");
  }
  .image-three {
    background-image: url("https://i.ibb.co/XxZjTQM/3.png");
  }
.sm-title .sm-title-1{
	position: absolute;
	width: 760px;
	height: 164px;
	right: 130px;
	top: 180px;

	font-style: normal;
	font-weight: 500;
	font-size: 4em;
	line-height: 82px;
	text-align: right;
	color: #FE6421;

}

.sm-title .sm-title-2{
	position: absolute;
	width: 980px;
	height: 130px;
	right: 130px;
	top: 240px;
	
	font-style: normal;
	text-align: right;
	font-weight: 500;
	font-size: 4em;
	line-height: 82px;
	text-align: right;
	color: #565656;
}
.dot {
	z-index: 1;
	position: absolute;
	width: 25px;
	height: 25px;
	right: 385px;
	top: 235px;
}

.sm-bar img{
	position: absolute;
	height: 8px;
	width: 650px;
	top: 315px;
	right: 130px;
	border-radius: 0px;
}


.sm-bigTitle {
	position: absolute;
	height: 140px;
	width: 570px;
	right: 130px;
	top: 320px;

	font-style: normal;
	text-align: right;
	font-weight: 700;
	font-size: 8em;
	line-height: 140px;
	/* identical to box height */
	
	color: #454545;
}

.sm-bigTitle strong{
	color: #FE6421;
}


.sm-script{
	position: absolute;
	width: 1166px;
	height: 250px;
	right: 130px;
	bottom: 100px;
	
	font-weight: 400;
	font-size: 21px;
	line-height: 40px;
	text-align: right;
	
	color: #828282;
}
.sm-script strong{
	color: #ffffff;
	font-weight: 400;
	background-color: #FE6421;
}


@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-720px);
  }
  65% {
    transform: translateX(-720px);
  }
  70% {
    transform: translateX(-1440px);
  }
  98% {
    transform: translateX(-1440px);
  }
  100% {
    transform: translateX(0);
  }
}
/* 
@media screen and (max-width: 768px) {
  $size-width: 240px;
  $size-height: 150px;
  .carousel-wrapper {
    width: $size-width * 1.3;
    height: $size-height * 1.4;
  }

  .carousel-container {
    width: $size-width;
    height: $size-height;
  }

  .carousel {
    width: $size-width * 3;
    > div {
      width: $size-width;
      height: $size-height;
    }
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-$size-width);
    }
    65% {
      transform: translateX(-$size-width);
    }
    70% {
      transform: translateX(-$size-width * 2);
    }
    98% {
      transform: translateX(-$size-width * 2);
    }
    100% {
      transform: translateX(0);
    }
  }
} */


	/* #sm .sm-slider { overflow: hidden; }
	#sm figure img { width: 20%; float: left; }
	#sm figure { 
	  position: absolute;
	  width: 500%;
	  margin: 0;
	  left: 0;
	  text-align: left;
	  font-size: 0;
	  animation: 30s slidy infinite; 
	} */


  @keyframes loading {
	to {
	  background-position-x: -20%;
	}
  }

  @-webkit-keyframes slide-left {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(-100px);
			  transform: translateX(-100px);
	}
  }
  @keyframes slide-left {
	0% {
	  -webkit-transform: translateX(0);
			  transform: translateX(0);
	}
	100% {
	  -webkit-transform: translateX(-100px);
			  transform: translateX(-100px);
	}
  }


/* Sm Section - DEMO*/
/* #services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: left;
} */
/* End Services Section */

/* Map section */
#map {
	width: 100%;
	height: 900px;
	max-height: 900px;
	background-image:url("https://i.ibb.co/hfLzzsR/bbb-4.png");
	background-size: cover;
	padding-right: 100px;
	background-repeat: no-repeat;
	background-position: -400px 0px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}


#map::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#map .map-title {
	position: absolute;
	width: 500px;
	height: 198px;
	left: 110px;
	top: 400px;
	
	font-weight: 500;
	font-size: 60px;
	line-height: 99px;

	color: #FFFFFF;
	text-shadow: 1px 0px 0 rgb(0, 0, 0), -1px 0px 0 rgb(0, 0, 0), 0px 1px 0 rgb(0, 0, 0), 0px -1px 0 rgb(0, 0, 0)
	,3px 7px 7px rgba(0, 0, 0, 0.25);
	
}

#map .map_im1 {
	position: absolute;
	width: 110px;
	height: 190px;
	left: 1065px;
	top: 190px;
	opacity: 0.8;
}
#map .map_im2 {
	position: absolute;
	width: 54px;
	height: 13px;
	left: 1095px;
	top: 395px;
}
#map .map_im3 {
	position: absolute;
	width: 400px;
	height: 650px;
	left: 700px;
	top: 180px;
}
#map .map_im4 {
	position: absolute;
	width: 400px;
	height: 650px;
	left: 500px;
	top: 220px;
}
#map .map_im5 {
	position: absolute;
	width: 120px;
	height: 140px;
	left: 960px;
	top: 570px;
}
#map .map_im6 {
	position: absolute;
	width: 150px;
	height: 190px;
	left: 550px;
	top: 340px;
}
#map .map_im7 {
	position: absolute;
	width: 180px;
	height: 80px;
	left: 480px;
	top: 570px;
}
#map .map_im8 {
	position: absolute;
	width: 120px;
	height: 8px;
	left: 1050px;
	top: 670px;
}
#map .map_im9 {
	position: absolute;
	width: 65px;
	height: 7px;
	left: 1060px;
	top: 485px;
}

#map .map-script-first {
	position: absolute;
	width: 315px;
	height: 93px;
	left: 1140px;
	top: 470px;

	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	
	color: #828282;
}
#map .map-script-second {
	position: absolute;
	width: 315px;
	height: 93px;
	left: 1185px;
	top: 655px;

	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	
	color: #828282;
}

#map .bold {
	color: #565656;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
}
/* 
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
} */
/* End MAp section */

/* K-contents Section */

#contents{
	width: 100%;
	height: 900px;
	max-height: 900px;
	background-image:url("https://i.ibb.co/Z2DsS0T/jjj-1.png");
	background-size: 1090px 785px;
	background-position: bottom left;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	overflow: hidden;
	
}


#contents::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#contents .contents-title {
	position: absolute;
	width: 700px;
	height: 198px;
	left: 100px;
	top: 110px;
	
	font-weight: 700;
	font-size: 50px;
	line-height: 70px;
	color: #565656;
}
#contents .contents-title span{	
	font-weight: 700;
	font-size: 50px;
	line-height: 70px;
	color: #FE6421;
}
#contents .contents-imgs-phone{
	position:absolute;
	left: 0px;
	bottom: 0px;
}
#contents .contents_im1 {
	position: relative;
	width: 770px;
	height: 500px;
	left: 20px;
	bottom: 0px;
	/* -webkit-animation:myfirst-k 2s ; 
	animation:myfirst-k 2s; */
	
}

#contents .contents_im2 {
	position: absolute;
	width: 780px;
	height: 600px;
	left: 400px;
	bottom: 0px;
	/* -webkit-animation:mysecond-k 2s ; 
	animation:mysecond-k 2s; */
}

@-webkit-keyframes myfirst-k
    {
    0%   { left:170px; bottom:-150px; opacity: 0;}

    100% {left:20px; bottom:0px; opacity: 1;}
}
@-webkit-keyframes mysecond-k
    {
    0%   { left:550px; bottom:-150px; opacity: 0;}

    100% {left:400px; bottom:0px; opacity: 1;}
}

#contents .contents_im3 {
	position: absolute;
	width: 96px;
	height: 62px;
	top: 320px;
	left: 830px;
}
#contents .contents_im4 {
	position: absolute;
	width: 95px;
	height: 60px;
	bottom: 370px;
	left: 1000px;
}

#contents .contents-script-first {
	position: absolute;
	width: 400px;
	height: 93px;
	left: 940px;
	top: 310px;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	
	color: #828282;
}
#contents .contents-script-second {
	position: absolute;
	width: 400px;
	height: 93px;
	left: 1120px;
	top: 460px;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	
	color: #828282;
}

#contents span {
	color: #565656;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
}/*
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
} */
/* End k-contents Section */

/* Review Section*/

#review{
	position: relative;
	display: block;
	width: 100%;
	height: 800px;
	max-height: 900px;
	background-image:url("https://i.ibb.co/G79CPXp/1.png");
	background-size: 800px 500px;
	background-position: 650px 200px;
	background-repeat: no-repeat;
	z-index: 1;
	overflow: hidden;
	
}


#review::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#review .review-title {
	position: absolute;
	width: 700px;
	height: 198px;
	left: 90px;
	top: 200px;
	
	font-weight: 700;
	font-size: 60px;
	line-height: 77px;
	letter-spacing: 0.2px;
	color: #565656;
}
#review .review-title span{	
	position: relative;

	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: 0.2px;
	color: #FE6421;
}

#review .review-script-first {
	position: absolute;
	width: 500px;
	height: 93px;
	left: 90px;
	top: 400px;

	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 47px;
	letter-spacing: 0.2px;
	
	color: #565656;
}
#review .review-script-second {
	position: absolute;
	width: 800px;
	height: 93px;
	left: 90px;
	top: 580px;

	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.2px;
	line-height: 41px;
	
	color: #565656;
}

#review .review-script-second {
	position: absolute;
	width: 800px;
	height: 93px;
	left: 90px;
	top: 580px;

	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: 0.2px;
	line-height: 35px;
	
	color: #565656;
}


#review .review-script-second span{	
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 10px;
	letter-spacing: 0.2px;
	
	background-color: #FE6421;
	color: #ffffff;
}

#review .review_im1 {
	position: absolute;
	width: 530px;
	height: 280px;
	left: -50px;
	top: -170px;	
	/* animation:myani-review 2s; */
	
}
#review .review_im2 {
	position: absolute;
	width: 530px;
	height: 280px;
	left: 150px;
	top: 100px;	
	/* animation:myani-review 2s; */
}

@-webkit-keyframes myani-review
    {
    0%   { opacity: 0;}

    100% { opacity: 1;}
}

#review .review_im3 {
	position: absolute;
	width: 500px;
	height: 10px;
	left: 90px;
	top: 380px;
}
/*End Review Section*/

/* contact Section */

#contact{
	position: relative;
	display: block;
	width: 100%;
	height: 700px;
	z-index: 1;
	overflow: hidden;
	background-color: #ffffff;
}

#contact::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#contact .contact-logo {
	position: relative;
	display: block;
	top: -150px;
}
#contact .contact-script {
	position: relative;
	top: -250px;
	display: block;
	font-style: normal;
	font-weight: 100;
	font-size: 25px;
	line-height: 43px;
	text-align: center;
	color: #000000;
}

#contact .contact-script span {
	color: #FE6421;
}

#contact .contact-email {
	position: relative;
	justify-content: center;
	align-items: center;
	margin-left: 0px;
	top:-200px;
}
#contact .agree {
	color: #000000;
	justify-content: center;
	align-items: center;
}
/*End contact Section */

/* Footer */
#footer {
	background-color: #FE6421;
}
#footer .footer {
	min-height: 250px;
	padding-top: 30px;
	padding-bottom: 50px;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding-left: 80px;
}
#footer .brand {
	left: 0;			
	position: relative;
	font-weight: 700;
	font-size: 60px;
	line-height: 64px;
	text-align: left;
	color: #FFFFFF;
}

#footer .footer-script1 {
	left: 0;			
	position: relative;
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
	padding-top: 20px;
	letter-spacing: 1px;
	color: #FFFFFF;
}
#footer .footer-script2 {
	display: flex;
	align-items: center;
	justify-content:space-between;
	width: 17%;
	
}

#footer .footer-script2 a{
	left: 0;			
	position: relative;
	font-weight: 300;
	font-size: 12px;
	line-height: 24px;
	padding-top: 20px;
	color: #FFFFFF;
}

/* 
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
} */
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}

@media only screen and (max-width: 1280px) {
		
	#sm {
		max-height: 800px;
	}

	#sm .sm-title{
		font-size: 0.8em;	
	}
	#sm .dot{
		visibility: hidden;
	}
	#sm .sm-bigTitle{
		font-size: 5.5em;
	}
	#sm .sm-script{
		padding-top: 50px; 
		font-size: 1.6em;
	}

	#sm .sm-bar img{
		width: 40em;
		height: 0.5em;
	}

	.carousel-container {
		position: relative;
		overflow: hidden;
		 width: 700px;
		 height: 100%;
		 overflow: hidden;
		 bottom: 0px;
		 margin: 0;
		 /* padding: 10px 10px; */
	   }
	   
	   .carousel {
		 display: flex;
		 overflow: hidden;
		 width: 300%;
		 height: 1000px;
		 animation: sliding 13s infinite;
	   }
	   
	   .carousel div {
		   position: relative;
		   overflow: hidden;
		   width:1000px;
		   height: 80%;
		   margin-top:0px;
		   background-size: 1000px 100%;
		   background-position: bottom left;
	   }

}
/* End Keyframes */
@media only screen and (max-width: 1200px) {

	#contents .contents-title {
		font-size: 4em;
	}
	#contents .contents-title span {
		font-size: 1em;
	}

	#review .review-title {
		font-size: 5em;
	}
	#review .review-title span{
		font-size: 1em;
	}
	#review .review-script-first{
		font-size: 2em;
	}

	#review .review-script-second{
		top: 550px;
		font-size: 1.5em;
	}
	#review .review-script-second span{
		font-size: 1.2em;
	}
	#review .review_im3 {
		width: 40em;;
	}

	#review .review_im1 {
		width: 45em;
		height: 23em;
		left: 40px;
		top: -150px;
	}
	#review .review_im2 {
		width: 45em;
		height: 23em;
		left: 40px;
		top: 100px;
	}

	#contents .contents-script{
		visibility: hidden;
	}
	#contents .contents_im3 {
		visibility: hidden;
	}
	#contents .contents_im4 {
		visibility: hidden;
	}
}
@media only screen and (max-width:1080px) {
		
	#sm {
		max-height: 800px;
	}

	#sm .sm-title-1{
		right: 50px;
		font-size: 3.5em;	
	}
	#sm .sm-title-2{
		right: 50px;
		font-size: 3.5em;	
	}

	#sm .dot{
		right: 50px;
		visibility: hidden;
	}
	#sm .sm-bigTitle{
		right: 50px;
		font-size: 5em;
	}
	#sm .sm-script{
		right: 50px;
		padding-top: 50px; 
		font-size: 1.5em;
	}

	#sm .sm-bar img{
		right: 50px;
		width: 35em;
		height: 0.5em;
	}

	.carousel-container {
		position: relative;
		overflow: hidden;
		 width: 700px;
		 height: 100%;
		 overflow: hidden;
		 bottom: 0px;
		 margin: 0;
		 /* padding: 10px 10px; */
	   }
	   
	   .carousel {
		 display: flex;
		 overflow: hidden;
		 width: 300%;
		 height: 1000px;
		 animation: sliding 13s infinite;
	   }
	   
	   .carousel div {
		   position: relative;
		   overflow: hidden;
		   width:1000px;
		   height: 80%;
		   margin-top:0px;
		   background-size: 1000px 100%;
		   background-position: bottom left;
	   }

}
@media only screen and (max-width:960px) {
	.carousel-container {
		/* visibility: hidden; */
	}

	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
		
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	#review .review_im1 {
		visibility: hidden;
	}
	#review .review_im2 {
		visibility: hidden;
	}
}
@media screen and (max-width: 930px){
	
	#sm {
		max-height: 1300px;
		min-width: 500px;
	}

	#sm .sm {
		max-height: 1300px;
		position: relative;
		display: block;
		flex-direction: column;	
	}

	#sm .sm-container {
		position: relative;
		display: block;
		width: 120%;
		padding:0;
		margin: 0;
	}
	#sm .sm-title {
		position: relative;
		top: -100px;
		min-width: 15px;
		right: 200px;
		font-size: 1.1em;
	}
	#sm .sm-bar {
		position: relative;
		top: -100px;
		right: 200px;
	}
	#sm .sm-bigTitle div{
		position: relative;
		font-size: 1.5em;
		top: -100px;
		right: 200px;
	}
	#sm .sm-script{
		visibility: hidden;
	}
	#sm .carousel {
		position: relative;		
	}

	#sm .carousel-wrapper{
		width: 2000px;

	}
	#sm .carousel-container {
		position: relative;
		width: 600px;
		height: 100%;
		top: 300px;
		justify-content: center;
		align-items: center;
	 /* padding: 10px 10px; */
    }
	#sm .carousel {
		display: flex;
		width: 360%;
		height: 1000px;
		bottom: 0;
		margin-left: 0px;
		animation: sliding 13s infinite;
	}
   
	.carousel div {
		position: relative;
		height:80%;
		margin-top:0px;
		background-size: 1100px 100%;
	}
	#review .review-title{
		position: relative;
		min-width: 280px;
		top: -50px;
		font-size: 3.5em;
	}

	#review {
		min-height: 1100px;
	}
	#review .review{
		min-width: 500px;
		position: relative;
		display: block;
		flex-direction: column;	
		width: 120%;
		padding:0;
		margin: 0;
	}

	#review .review-title{
		position: relative;
		align-items: center;
		justify-content: center;
		font-size: 5em;
		top: 50px;
	}
	#review .review_im1 {
		position: relative;
		display: block;
		visibility:visible;
		width: 550px;
		height: 100%;
		top: 240px;
		left: 60px;
	}
	#review .review_im2 {
		position: relative;
		display: block;
		visibility:visible;
		width: 550px;
		height: 100%;
		left: 170px;
		top: 240px;

	}
	#review .review_im3{
		visibility:hidden;
	}
	#review .review-script-first{
		visibility: hidden;
	}
	#review .review-script-second{
		position: relative;
		display: block;
		font-size: 1.8em;
		top: 100px;
		margin-top: -50px;
	}

}

/*Media Query For mobile*/
@media screen and (max-width: 600px){

	#main .main {
		position: relative;
		left: -35px;
	}
	#sm {
		max-height: 900px;
		min-width: 500px;
	}

	#sm .sm {
		max-height: 900px;
		position: relative;
		display: block;
		flex-direction: column;	
	}

	#sm .sm-container {
		position: relative;
		display: block;
		width: 120%;
		padding:0;
		margin: 0;
	}
	#sm .sm-title {
		position: relative;
		top: -100px;
		min-width: 15px;
		right: 150px;
		font-size: 0.8em;
	}
	#sm .sm-bar {
		position: relative;
		top: -100px;
		right: 150px;
	}
	#sm .sm-bigTitle div{
		position: relative;
		font-size: 1.1em;
		top: -100px;
		right: 150px;
	}
	#sm .sm-script{
		visibility: hidden;
	}
	#sm .carousel {
		position: relative;		
	}

	#sm .carousel-wrapper{
		width: 2000px;

	}
	#sm .carousel-container {
		position: relative;
		width: 600px;
		height: 100%;
		top: 300px;
		justify-content: center;
		align-items: center;
	 /* padding: 10px 10px; */
    }
	#sm .carousel {
		display: flex;
		width: 360%;
		height: 1000px;
		bottom: 0;
		margin-left: 0px;
		animation: sliding 13s infinite;
	}
   
	.carousel div {
		position: relative;
		height:60%;
		margin-top:0px;
		background-size: 800px 100%;
	}

	#map .map {
		position: relative;
		display: block;
		flex-direction: column;
	}
	#map .map-imgs {
		position: relative;
		display: inline;
		left: -500px;
	}
	#map .map-title {
		position: relative;
		top: 150px;
		min-width: 400px;
		font-size: 5em;
	}

	#contents .contents-title{
		position: relative;
		min-width: 550px;
		top: -150px;
		font-size: 3.5em;
	}

	#contents .contents-imgs-phone {
		top: 370px;
	}

	#review .review-title{
		position: relative;
		min-width: 280px;
		top: -50px;
		font-size: 3.5em;
	}


	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 500px;
		
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-script{
		font-size: 2em;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	#contents .contents {
		min-width: 500px;
	}

	#review {
		min-height: 900px;
	}
	#review .review{
		min-width: 500px;
		position: relative;
		display: block;
		flex-direction: column;	
		width: 120%;
		padding:0;
		margin: 0;
	}

	#review .review-title {
		position: relative;
		top: 50px;
	}
	#review .review_im1 {
		position: relative;
		display: block;
		visibility:visible;
		top: 140px;
		
	}
	#review .review_im2 {
		position: relative;
		display: block;
		visibility:visible;
		top: 140px;

	}
	#review .review_im3{
		visibility:hidden;
	}
	#review .review-script-second{
		position: relative;
		display: block;
		font-size: 1.6em;
		top: 50px;
		margin-top: -50px;
	}

	#footer .footer{
		min-width: 500px;
	}

} 

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* main */
	#main h1 {
		font-size: 7rem;
	}
	/* End main */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */


	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
		flex-direction: column;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

	.cta {
		font-size: 2.2rem;
		padding: 20px 60px;
	}


	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	
#main h1 {

	display: block;
	font-size: 12em;
	position: relative;
	color: #ffffff;
	/* animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s; */
}
#main h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 37px;
	line-height: 56px;
	
	position: relative;
	color: #ffffff;
	/* animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;  */
}

	/* End header */

	#sm {
		max-height: 800px;
	}
	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
		
}
/* End  Media Query For Desktop */
