@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'GongGothicMedium',sans-serif;
}
html {
	font-size: 10px;
	font-family: 'GongGothicMedium', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #000000;
}


.cta {
	font-size: 17px;
	display: inline-block;
	border-radius: 50px !important;
	padding: 10px 30px;
	color: #ffe1e1;
	background-color: #d3480c;
	text-align: center;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	background-color: #d75a25;
	color: #ffffff;
}
.brand img {
	position: static;
	padding: 30px 20px;
}

.explore_btn {
	display: block;
	position: relative;
	width: 150px;
	bottom: -20em;
}
/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content:space-between;
	width: 100%;
	height: 100%;
	max-width: 1430px;
	padding: 0px;
}


#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #f3682d;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
	background-color: #d85f2be5;
	padding-top: 5px;
	padding-bottom: 20px;
}

#header .nav-list ul a {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;

	letter-spacing: 0.2rem;
	text-decoration: none;
	color: #ffffff;
	padding: 30px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(#d3480c,0.02);
	font-size: 18px;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	/* transform: translate(-50%, -50%) scale(1); */
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #1a0800;
	/* animation: ; */
}

/*switch button*/

.switch-button-lan {
	background: rgba(255, 255, 255, 0.56);
	border-radius: 30px;
	width: 200px;
	height: 45px;
	top: 0px;
	text-align: center;
	font-size: 15px;
	letter-spacing: 2px;
	color: #ffffff;
	padding-right: 90px;
	position: relative;
}

	.switch-button-lan:before {
	  content: "English";
	color: #828282;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  width:105px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  z-index: 9;
	  pointer-events: none;
	}


	.switch-button-checkbox {
	  cursor: pointer;
	  position: absolute;
	  background-color: #FE6421;
	  top: 10;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  height: 100%;
	  opacity: 0;
	  z-index: 2;
	}

	.switch-button-checkbox:checked + .switch-button-label:before{
		transform: translateX(90px);
		transition: transform 300ms linear;
	}
  
	.switch-button-checkbox + .switch-button-label {
		position: relative;
		padding: 15px 0px;
		display: block;
		user-select: none;
		pointer-events: none;
	}
	.switch-button-label:before {
		  content: "";
		  background: #FE6421;
		  height: 78%;
		  width: 100px;
		  position: absolute;
		  right: 4px;
		  top: 4px;
		  
		  border-radius: 30px;
		  transform: translateX(0);
		  transition: transform 300ms;
		  z-index: 0;
	}
  
	.switch-button-label-span {
		  position: relative;
	}

    

/* The switch - the box around the slider */
/* .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */

 .switch-button {
	bottom: 13px;
	position: relative;
	margin-left: 130px;
	margin-right: 20px;
	width: 160px;
	height: 44px;
 }

 .switch {
	width: 100%;
	height: 100%;
 }

  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(240, 248, 255, 0.5);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 38px;
	width: 75px;
	left: 5px;
	bottom: 2px;
	background-color: #FE6421;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: rgba(240, 248, 255, 0.5);
}
  
  input:focus + .slider {
	box-shadow: 0 0 1px #B7B7B7;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(75px);
	-ms-transform: translateX(75px);
	transform: translateX(75px);
  }

   */


  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 34px;
  }



#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #ffffff;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 60px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #ffffff;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color:#ffffff;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #ffffff;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	width: 100%;
	background-image:url(/img/bbb\ 1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	z-index: 1;
}

@keyframes floatBubble{
	0% {
		   top:0;
		   -webkit-animation-timing-function: ease-in;
   
	  }
   
	  100% {
		 top: 500px;
		 animation-timing-function: ease-out;
	  }
   
   }

#hero {
	overflow: hidden;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 8em;
	justify-content: flex-start;
}


#hero h1 {

	display: block;
	font-size: 7em;
	position: relative;
	color: #ffffff;
	animation: text_reveal 0.5s ease forwards;
	/* animation-delay: 1s; */
}
#hero h2 {
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	
	position: relative;
	color: #ffffff;
	/* animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;  */
}
#hero .main_con:nth-child(1) {
	/* animation-delay: 1s; */
}
#hero .main_con:nth-child(2) {
	/* animation-delay: 2s; */
}
#hero .main_con:nth-child(3) {
	/* animation: text_reveal_name 0.5s ease forwards; */
	/* animation-delay: 3s; */
}
#hero .iphone {
	display: flex;
}

#hero .iphone1 {
	
	position: relative;
	width: 450px;
	height: 90%;
	top: 5em;
	-webkit-animation:myfirst 3s ; /* Chrome, Safari, Opera */
    animation:myfirst 3s;
}
#hero .iphone_2{
}
#hero .iphone2 {
	position: relative;
	width: 450px;
	height: 100%;
	bottom: -5px;
	left: -80px;
	-webkit-animation:mysecond 3s ; /* Chrome, Safari, Opera */
    animation:mysecond 3s;    
	object-fit: cover;
}
#hero .iphone3 {
	position: relative;
	width: 450px;
	height: 100%;
	left: -80px;
	top: 0px;
	-webkit-animation:mysthird 3s ; /* Chrome, Safari, Opera */
    animation:mythird 3s;
}

    /* Chrome, Safari, Opera */
    @-webkit-keyframes myfirst
    {
    0%   { left:0px; top:300px;}

    100% {left:0px; top:5em;}
    }
    
	@-webkit-keyframes mysecond
	{
		0%   { left:-80px; bottom: -300px;}
	
		100% {left:-80px; bottom: -5px;}
	}
		
	
	@-webkit-keyframes mythird
    {
		0%   { left:-80px; top: -300px;}
	
		100% {left:-80px; top: 0px;}
		}       
    /* Standard syntax
    @keyframes myfirst
    {
    0%   { left:0px; top:0px;transform:rotate(0deg)}
    50%  {left:100%; margin-left:-100px;transform:rotate(360deg)}
    100% {left:0px; top:0px;transform:rotate(0deg)}
    } */


.lineUp {
	animation: 2s anim-lineUp ease-out ;
  }
  @keyframes anim-lineUp {
	0% {
	  opacity: 0;
	  transform: translateY(80%);
	}
	20% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	  transform: translateY(0%);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
}

#hero .main_con span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	display: block;
  	animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
#hero .main_con:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero .main_con:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero .main_con:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* Sm Section */

#sm-container {
	width: 100%;
	/* background-image:url(/img/그라\ 1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center; */
	position: relative;
	z-index: 1;
}

#sm-container .slider-container{
	height: 1000px;
}

#sm-container .img-wrapper {
	position: absolute;
	width:1000px;
	overflow: hidden;
	height: 90%;
	margin-left: 80px;
	top: 10%;

	/* position: relative;
	width: 450px;
	height: 90%;
	top: 5em;
	-webkit-animation:myfirst 3s ; 
    animation:myfirst 3s; */
}

#sm-container .img-wrapper img {
	height: 100%;
}


