@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'GongGothicMedium',sans-serif;
}
html {
	font-size: 10px;
	font-family: 'GongGothicMedium', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: #FE6421;
}


.cta {
	font-size: 17px;
	display: inline-block;
	border-radius: 50px !important;
	padding: 10px 30px;
	color: #ffffff;
	background-color: #FE6421;
	text-align: center;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: #ffe1e1;
	background-color: #d3480c;
}
.brand img {
	padding: 30px 0px;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 0px;
}

#header .nav-lan {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 30px;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: #B7B7B7;
	padding: 30px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 18px;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #FE6421;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #565656;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #565656;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color:#565656;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #565656;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image:url(./img/아이폰\ 목업.png), url(./img/배경\ 타원.png),url(./img/배경\ 그라데이션.png);
	background-size: contain,contain,cover;
	background-repeat: no-repeat;
	background-position: 706px center,right 70px,top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: #565656;
	/* animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s; */
}
#hero h2 {
	display: block;
	width: fit-content;
	font-size: 3rem;
	position: relative;
	color: #B2B2B2;
	/* animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;  */
}
#hero .main_con:nth-child(1) {
	animation-delay: 1s;
}
#hero .main_con:nth-child(2) {
	animation-delay: 2s;
}
#hero .main_con:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

.lineUp {
	animation: 2s anim-lineUp ease-out ;
  }
  @keyframes anim-lineUp {
	0% {
	  opacity: 0;
	  transform: translateY(80%);
	}
	20% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	  transform: translateY(0%);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0%);
	}
}

#hero .main_con span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	display: block;
  	animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}
#hero .main_con:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero .main_con:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero .main_con:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */
